 @import "../../styles/variables.css";

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  min-height: 2.7rem;
}

.button:hover {
  opacity: 0.8;
}
.button:active {
  opacity: 0.6;
}
.primary {
  background-color: var(--color-primary);
  color: white;
}

.secondary {
  background-color: var(--color-secondary);;
  color: black;
}

.danger {
  background-color: var(--color-danger);
  color: white;
}

.warning {
  background-color: var(--color-warning);
  color: white;
}

.success {
  background-color: var(--color-success);
  color: white;
}

.small {
  font-size: 12px;
}

.medium {
  font-size: 16px;
}

.large {
  font-size: 20px;
}

.buttonTips {
  padding: 0.3rem 0.7rem;
  border-radius: 10px;
  font-size: 0.8em;
  background-color: rgba(255, 255, 255, 0.2);
}