.select {
    padding: 0.5rem 1rem;
    border: 2px solid var(--color-text);
    border-radius: 10px;
    outline: none;
    width: 100%;
    background-color: var(--color-foreground);

@media (prefers-color-scheme: dark) {
    color: var(--color-text);
    border: 2px solid var(--color-text);
    background-color: var(--color-foreground);
}
}

.select:focus, .select:active, .select:hover, .select:visited, select:focus-within {
    border: 2px solid var(--color-primary);
}

.select:focus {
    border: 2px solid var(--color-primary);
}

.select:active {
    border: 2px solid var(--color-primary);
}