
/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&family=Playfair+Display:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700;900&family=Outfit:wght@400;500;700&family=Playfair+Display:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

*  {
  font-family: Outfit, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: "JetBrainsMono Nerd Font Mono", system-ui, Avenir, Helvetica, Arial, sans-serif !important; */
  /* font-family: 'Playfair Display', serif; */
  /* font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif !important; */
  /* font-family: "Barlow", system-ui, Avenir, Helvetica, Arial, sans-serif !important; */
  font-size: 1em;
}

body {
  margin: 0;
  minheight: 100vh;
  width: 100vw;
}

.bodyFocus:focus {

}

/* :root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --max-width: 1024px;
  width: 100vw !important;

}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: var(--color-primary);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
} */
/* body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
} */

h1 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.1;
}

.header {
  /* background-image: url('./assets/wallpapers/wallpaper.jpg'); */
  background-size: cover;
  background-color: var(--color-secondary);
  /* background-blend-mode: luminosity; */
  position: fixed;
  height: 300px;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content:space-between;
  flex-direction: row;
  z-index: -2 !important;
  padding: 2rem 2rem;
  box-sizing: border-box;
  border-bottom: 30px solid rgba(172, 172, 172, 0.3) !important;
}

.calendar__event {
  background-color: rgb(211, 211, 211);
  border-radius: 10px;
  width: 100%;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  font-size: 0.9em;
}

.notepad__textarea {
  color: #1a1a1a;
  background-color: transparent;
  border: none !important;
  outline: none !important;
  padding: 0;
  margin: 0;
  line-height: 1.6;
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(72, 75, 236);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader div:nth-child(1) {
  left: 8px;
  animation: loader1 0.6s infinite;
}
.loader div:nth-child(2) {
  left: 8px;
  animation: loader2 0.6s infinite;
}
.loader div:nth-child(3) {
  left: 32px;
  animation: loader2 0.6s infinite;
}
.loader div:nth-child(4) {
  left: 56px;
  animation: loader3 0.6s infinite;
}
@keyframes loader1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.col_2 {
  grid-column: span 2;
}
.col_3 {
  grid-column: span 3;
}
.col_4 {
  grid-column: span 4;
}  
.col_5 {
  grid-column: span 5;
}
.col_6 {
  grid-column: span 6;
}

.row_2 {
  grid-row: span 2;
}
.row_3 {
  grid-row: span 3;
}
.row_4 {
  grid-row: span 4;
}  
.row_5 {
  grid-row: span 5;
}
.row_6 {
  grid-row: span 6;
}